	h1 {
		text-align: center;
		color: #bc2e1e;
    	background: #edde9c;
    	text-shadow: 0 1px 0px #378ab4, 1px 0 0px #5dabcd, 1px 2px 1px #378ab4, 2px 1px 1px;
}
	
	.title{
		color: blue;
		font-size: large;
		text-transform: uppercase;
	    margin: 1rem 0 0 0;
	}
	.text{
		background-color: #f0f4f8;
		padding: 1rem;

	}
	.moral{
		font-style: italic;
	}
	a{
    padding: 0.5rem;
    display: inline-block;
    margin: 2rem 0 0 0;
    background-color: #1d63a9;
    text-decoration: none;
    font-size: xx-large;
    color: white;
    border-radius: 13px;
    box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgb(0 0 0 / 0%);
    margin-left: calc(50% - 50px);
    width: 100px;
    text-align: center;
}